:root {
	font-size: 10px;
}

html, body {
	height: 100%;
}

body {
	transition: background-color 300ms;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: 'Open Sans', sans-serif;

	perspective: 1000px;
}

.main_query {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	width: 24em;
	color: #333;
	background: #efefef;
	padding: 2.2em 1.8em;
	border-radius: 0.2em;

	box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.2);

	transition: transform 300ms;
}

.main_query input {
	font-size: 2.4rem;
	background: none;
	color: inherit;
	width:100%;
	margin-bottom: 2.4rem;
	border: none;
	border-bottom: 0.1rem solid;
	outline: none;
}

.main_query button {
	color: inherit;
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	background: none;
	border: 0.1em solid #333;
	border-radius: 0.2em;
	padding: 0.3em 0.6em 0.4em 0.6em;
	text-align: right;
}

.main_query p {
	margin-top: 0;
	font-size: 1.4em;
}